<!-- This is nav -->
<nav class="container-xl" style="background-color: #F2F1EB">
    <div class="navbar align-items-center" id="nav-container">
        <a class="navbar-brad" href="#"><img src="assets/logo1.png" alt="" class="mainlogo1"><img
                src="assets/imgonline-com-ua-resize-C1WIevNuun97.png" alt="" class="mainlogo2">
        </a>
<!-- 
        <div class=" location-container">
            <div class="dropdown">
                <button class="btn dropdown-toggle d-flex align-items-center" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <lord-icon src="https://cdn.lordicon.com/tdtlrbly.json" trigger="hover" stroke="bold"
                        state="hover-jump-roll" colors="primary:#121331,secondary:#16c72e"
                        style="width:25px;height:25px">
                    </lord-icon>
                    </lord-icon>
                    <span class="ps-1">All India</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-light" id="location-dropdown">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-crosshair2"></i> Use current
                            location</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li><a class="dropdown-item active" href="#">Kolkata</a></li>
                    <li><a class="dropdown-item" href="#">Patna</a></li>
                    <li><a class="dropdown-item" href="#">Punjab</a></li>
                    <li><a class="dropdown-item" href="#">Lucknow</a></li>
                    <li><a class="dropdown-item" href="#">Haryana</a></li>
                </ul>
            </div>
        </div> -->


        
        <!-- Login Register Phone -->
        <div class="login-register-btn-up">
            <button type="button" class="btn btn-secondary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                data-bs-toggle="modal" data-bs-target="#login">Log
                In</button>
            <button type="button" class="btn btn-success"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                data-bs-toggle="modal" data-bs-target="#registermodal">Sign Up</button>
        </div>


        <div class="search-container">
            <nav class="navbar">
                <div class="container-fluid ">
                    <form class="d-flex" role="search">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search"
                            id="search-box">
                        <button class="btn  btn-lg" type="submit"><lord-icon
                                src="https://cdn.lordicon.com/anqzffqz.json" trigger="loop" delay="5s" stroke="bold"
                                state="loop-spin"
                                colors="primary:#121331,secondary:#c71f16,,tertiary:#d1fad7,quaternary:#b26836"
                                style="width:25px;height:25px">
                            </lord-icon></button>
                    </form>
                </div>
            </nav>
        </div>


        <!-- Login Register Desktop -->
        <div class="login-register-btn-down p-2">
            <button type="button" class="btn btn-secondary btn-md" data-bs-toggle="modal"
                data-bs-target="#login">Log
                In</button>
            <button type="button" class="btn btn-success btn-md" data-bs-toggle="modal"
                data-bs-target="#registermodal">Sign Up</button>
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- ...  <div class="vh-100 d-flex justify-content-center align-items-center bg-success bg-opacity-25"> -->
                        <form
                            class="text-center main-div  h-75 d-flex flex-column justify-content-center align-items-center">
                            <div class=" py-3 d-flex flex-column px-0">
                                <a href="" class="text-success fs-1 px-0 text-decoration-none login-head">HELLO!</a>
                                <a href="" class="text-success fs-5 px-0 text-decoration-none ">Sign in to your
                                    Account</a>


                            </div>
                            <div class="mb-3 email-box d-flex flex-column align-items-start w-100 ">
                                <label for="exampleInputEmail1" class="form-label fs-5 mb-0">Email address</label>
                                <input type="email" class="form-control w-100 h-50" id="exampleInputEmail1"
                                    paria-describedby="emailHelp" placeholder="Email address">
                            </div>
                            <div class="mb-3 pass-box mt-0 d-flex flex-column align-items-start w-100 ">
                                <label for="exampleInputPassword1" class="form-label fs-5 mb-0">Password</label>
                                <input type="password" class="form-control " id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <button type="submit" class="btn w-25 btn-success my-5">Sign In</button>
                        </form>
                        <!-- </div> -->
                    </div>

                </div>
            </div>
        </div>


    </div>
</nav>




<!-- Main Button -->
<div class="main-btn">
    <button class="btn-graph" data-bs-toggle="modal" data-bs-target="#graphModal">
        <div class="demand-btn-text"><lord-icon src="https://cdn.lordicon.com/eodavnff.json" trigger="loop"
                delay="1000" stroke="bold" state="loop-all" style="width:50px;height:50px">
            </lord-icon></div>
    </button>

    <button class="btn-demand" data-bs-toggle="modal" data-bs-target="#cameraModal">
        <div class="demand-btn-text"><lord-icon src="https://cdn.lordicon.com/vneufqmz.json" trigger="loop"
                delay="2000" style="width:50px;height:50px">
            </lord-icon></div>
    </button>
</div>

<div class="btn-home">
    <img src="assets/kisanbazaar-favicon-color.png" alt="" style="height: 70px; width: 70px;">
</div>




<!-- Modal Graph -->
<div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content container">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detailed Graph</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Graph -->
                <canvas class="horizontalBar"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Camera -->
<div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Capture Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- Camera -->
                <div id="video-container">
                    <video id="video" autoplay></video>
                </div>
            </div>
            <div id="button-container">
                <button id="capture-btn" type="button" class="btn btn-danger"><i
                        class="bi bi-camera-fill"></i></button>
                <button id="switch-camera-btn" type="button" class="btn btn-primary"><i
                        class="bi bi-arrow-repeat"></i></button>
            </div>
        </div>
    </div>
</div>