@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root {
    --agriculture-green-color: #198754;
}


.card11{

    

}

.card11:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.img122{
    height: 10rem;
    object-fit: cover;
}

/* Utility Classes */
.btn {}

/* Navbar */
#nav-container {
    display: flex;
    justify-content: space-between;
}

#search-box {
    width: 40em;
}

#location-dropdown {
    left: 50%;
    transform: translate(-50%, 0);
}

.login-register-btn-up {
    display: none;
}

.mainlogo2 {
    display: none;
}


/* //Main button */
.main-btn {
    position: fixed;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: flex;
    z-index: 1;
}

.btn-graph {
    border: none;
    background: #EEF5FF;

    border: 3px solid var(--agriculture-green-color);
    border-radius: 10em 0em 0em 10em;
    color: var(--agriculture-green-color);

    /* padding: 0.1em; */
    z-index: 1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-demand {
    border: none;
    background: #F8FAE5;
    border: 3px solid var(--agriculture-green-color);
    border-radius: 0em 10em 10em 0em;
    color: var(--agriculture-green-color);
    z-index: 1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.demand-btn-text {
    padding: 0rem 3rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

.btn-home {
    background: white;
    border: 3.5px solid green;
    padding: 0.7em;
    border-radius: 50%;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
}

#video-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button-container {
    position: relative;
    bottom: 60px;
    left: 45%;

    /* display: flex; */
    justify-content: space-between;
    width: 100%;
}


/* Footer */
.footer-basic {
    padding: 40px 0;
    color: white;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/* Hero Section */
.hero-main-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.container-hero {
    height: 50vh;
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(assets/hero-background.png);
    background-size: cover;
    border-radius: 2rem;
}

.glass-card h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* text-transform: uppercase; */
    letter-spacing: 0.3rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}


.glass-card {
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(1rem);
    width: 60%;
    height: 70%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 3rem; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.mic-button-container {
    padding: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    right: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pointer-img {
    position: absolute;
    top: 36.5%;
    left: 53%;
    z-index: 3;
    width: 15rem;
    rotate: -20deg;
}

.mic-icon {
    width: 60px;
    height: 60px;
}

.intro-sound {
    /* position: absolute; */
    z-index: 2;
    border: 2px solid white;
    border-radius: 10rem;
    background: white;
}

/* Card */
.card {
    width: 18rem;
}


@media only screen and (max-width: 770px) {
    body {
        /* background-color: lightblue; */
    }

    #nav-container {
        justify-content: space-around;
    }

    #search-box {
        width: 75vw;
        height: 2.5rem;
    }

    .main-btn {
        left: 50%;
        top: 92%;
        transform: translate(-50%, -50%);
    }

    .demand-btn-text {
        padding: 0rem 1rem;
    }

    .btn-home {
        display: none;
    }

    .navbar-brand {
        font-size: 10px;
    }

    .navbar-brand img {
        height: 35px;
        width: 35px;
    }

    .login-register-btn-down {
        display: none;
    }

    .login-register-btn-up {
        display: block;
    }

    .mainlogo1 {
        display: none;
    }

    .mainlogo2 {
        display: block;
    }

    .hero-main-container {
        margin: 0;
    }

    .container-hero {
        height: 30vh;
        width: 100%;

        border-radius: 0rem;
    }

    .glass-card h1 {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }

    .mic-button-container {
        top: 42%;
        width: 50px;
    }

    .mic-icon {
        width: 30px;
        height: 30px;
    }

    .pointer-img {
        top: 31%;
        left: 50%;
        width: 7rem;
    }

    .card {
        width: 10rem;
    }

    .text-secondary {
        font-size: 10px;
    }

    .glass-card{
        width: 100%;
    }

}


/* Ayush Login */
.email-box {
    padding-inline: 40px;
}

.pass-box {
    padding-inline: 40px;
}

.main-div {
    background: url(assets/login-man.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

.login-head {
    font-family: Roboto, Roboto-fallback, Arial;

}

@media only screen and (max-width: 770px) {
    .main-div {
        background-image: none;
    }
}

.first-name {

    margin-right: 20px;
}

/* Ayush Product page */
.bg {
    background-color: rgb(217, 248, 248);
    padding: 0px;
    margin: 0px;

}

.carausel {
    background-color: black;
    /* margin: 1rem; */
    object-fit: cover;

}

.carausel img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.secondary-div {
    height: 200px;
}

.heading {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.call-box {
    padding-inline: 20px;
}

.left-side {
    display: flex;
}

.content-box {
    width: 50%;
    margin-right: 20px;
}

.right-side {
    width: 50%;
}

.call {
    margin-right: 20px;
    width: 50%;
}

.product-glass-card {
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(1rem);
    width: 100%;
    margin-top: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    /* align-items: center; */

    /* border-radius: 3rem; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 590px) {
    .product-glass-card {
        padding: 0;
    }

    .left-side {
        flex-wrap: wrap;
    }

    .content-box {
        width: 100vw;
    }

    .right-side {
        width: 100%;
    }

    .carausel {
        margin: 1rem 0rem;
    }

    .description {
        padding: 0;
        margin: 0;
    }

    .content-box {
        margin-right: 0px;
    }
}